<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login Net Plus</title>
    <link href="https://fonts.googleapis.com/css?family=Karla:400,700&amp;display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/login/cdn.jsdelivr.net/npm/%40mdi/font%404.8.95/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="/static/login/stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/login/assets/css/login.css">
    <link rel="icon" href="/static/logo.ico" sizes="32x32"/>
    <style>
        .name-input:required:valid:not(:focus) ~ .name-label {
            top: -1.5rem;
            left: 0.5rem;
            background-color: rgba(255, 255, 255, 0);
            font-size: 1rem;
            color: rgba(0, 0, 0, 0.93);
        }
    </style>
</head>
<body>
  <main>
    <div class="container-fluid">
      <div class="row">
          <div class="col-sm-6 login-section-wrapper">
              <div class="card text-center">
                  <div class="card-body">
                      <div class="brand-wrapper">
                          <img src="/static/logo_work.svg" alt="logo" class="logo">
                      </div>
                      <div class="login-wrapper my-auto">
                          <h1 class="login-title">Bienvevido</h1>
                          <form action="#!">
                              <div class="col-12">
                                   <div class="form-group" style="margin-bottom: 2rem">
                                  <input type="text" name="user" id="user" class="form-control name-input"
                                         aria-required="true" required style="padding: 26px 26px!important;">
                                   <label for="user" class="name-label">
                                    <label for="user">Usuario</label>
                                   </label>
                              </div>
                              </div>
                              <div class="col-12">
                                  <div class="form-group mb-4">
                                      <input type="password" name="password" id="password" required
                                             class="form-control name-input" style="padding: 26px 26px!important;">
                                      <label for="password" class="name-label">
                                          <label for="password">
                                              Contraseña
                                          </label>
                                      </label>
                                  </div>
                              </div>
                              <input name="login" id="login" class="btn btn-block login-btn" type="button"
                                     value="Ingresar">
                          </form>
                      </div>
                  </div>
              </div>
          </div>
        <div class="col-sm-6 px-0 d-none d-sm-block">
          <img src="https://img.freepik.com/premium-photo/network-server-with-yellow-cables-connected-it_792751-368.jpg" alt="login image" class="login-img">
        </div>
      </div>
    </div>
  </main>
  <script src="/static/login/code.jquery.com/jquery-3.4.1.min.js"></script>
  <script src="/static/login/cdn.jsdelivr.net/npm/popper.js%401.16.0/dist/umd/popper.min.js"></script>
  <script src="/static/login/stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</body>
</html>
